<h1 mat-dialog-title>Create new user</h1>
<div mat-dialog-content>
  <div fxLayout="column" fxLayoutGap="12px">
    <mat-form-field appearance="fill" *ngFor="let field of formFields">
      <mat-label>{{field.label}}</mat-label>
      <input matInput [placeholder]="field.placeholder" [formControl]="field.formControl" required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions fxLayoutAlign="end start">
  <button mat-raised-button color="primary">Create</button>
</div>