<mat-card>
    <mat-card-header>
        <mat-card-title>Báo cáo ngân sách nhà nước</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-tab-group>
            <mat-tab label="My report">
                <app-bc-dv-my-report></app-bc-dv-my-report>
            </mat-tab>
            <mat-tab label="Danh sách báo cáo">
                <app-bc-don-vi-ds-bc></app-bc-don-vi-ds-bc>
            </mat-tab>
            <mat-tab label="Báo cáo vượt cấp">
                <app-bc-don-vi-bs-vuot-cap></app-bc-don-vi-bs-vuot-cap>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>